body{
  text-align: center;
}
#cenario{
  width: 460px;
  height: 420px;
  margin: auto;
  position: relative;
  background-repeat: repeat-x;
  background-image:
              url("mountain.png"),
              url("forest1.png"),
              url("forest1.png"),
              url("mountain.png");
  background-size:
              320% 121%,
              100%,
              100%,
              100%;
  background-position:-61px, -268px 229px, -94px 129px, -34px 17px
}
#lebre, #tartaruga{
  width: 30px;
  height: 30px;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 0;
}

#lebre{
  bottom: 0px;
  left: 0px;
  background-image: url("rabbit.png");
  background-position: center;
}
#tartaruga{
  width: 40px;
  bottom: 0px;
  left: 40px;
  background-image: url("turtle.png");
  background-position: center;
}